   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<h1>Show listing</h1>

     <% if @listing.image.attached? %>

            <%= image_tag(@listing.image, height:320, width:200) %>

        <% end %>

<%= @listing.item_name %>
<%= @listing.description %>
<%= @listing.price %>

<a href="/for_sale">Back to listings</a>

<br>

<a href="/for_sale/<%= @listing.id %>" data-method="delete" rel="nofollow">DELETE</a>

<br>

<a href="/for_sale/<%= @listing.id %>/edit">EDIT</a>

