 <!DOCTYPE html>
 <htML>  

  <head>
    <title>Sk8er Tr8der</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
              
      
</head>

    
<header>

    <nav class="navbar navbar-light">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><b>Sk8er Tr8der</b></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
        </div>

        
<div id="dropdown" class="collapse navbar-collapse">
            
    <ul class="nav navbar-nav">
        <li><a href="/main">Home</a></li>
        <li><a href="/articles">Blog</a></li>
        <li><a href="/for_sale">For Sale</a></li>
        <li><a href="/wanted">Wanted</a></li>
    
    

    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Follow Us On INSTAGRAM <i class="fa fa-instagram"></i></a></li>
    </ul>
    
    </div>
    </div>
      
</nav>


</header>

<body>


  <div class="container">
  <div class="login">
  

      <p id=”alert”><%= alert %></p>


      <form action="/users" method="post">

        <h1>Create an Account</h1>

        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

            <div class="form-group">
          <label><h3>User Name</h3></label>
          <input type="user_name" class="form-control" name="user_name" value="" />
        </div>

        <div class="form-group">
          <label><h3>Email:</h3></label>
          <input type="email" class="form-control" name="email" value="" />
        </div>

        <div class="form-group">
          <label><h3>Password:</h3></label>
          <input type="password" class="form-control" name="password" value="" />
        </div>

        <div class="form-group">
          <label><h3>Password Confirmation:</h3></label>
          <input type="password_confirmation" class="form-control" name="password_confirmation" value="" />
        </div>


        <input type="submit" class="btn btn-primary" value="Submit" />

      </form>


    </div>
  </div>

   <script src="js/bootstrap.min.js"></script>

</body>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</htML>