<h1>Create a new wanted listing</h1>

<%= form_for :wanted do |w| %>

<%= w.label :wanted %>

<%= w.text_field :title , placeholder:"Enter a description here" %><br>


<%= w.label :offer_amount %>

<%= w.text_field :initial_offer , placeholder:"Enter an initial offer amount" %><br>

<%= w.submit %>

<% end %> 