<!DOCTYPE HTML>
<html>

<head>
    <title>SkateboardMarketTracker</title>

       <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
</head>
    
<header>

    <nav class="navbar navbar-light">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><b>Skateboard Market Tracker</b></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
                 
</div>

        
<div id="dropdown" class="collapse navbar-collapse">
            
    <ul class="nav navbar-nav">
        <li><a href="main">Home</a></li>
        <li><a href="articles">Blog</a></li>
        <li><a href="for_sale">For Sale</a></li>
        <li><a href="wanted">Wanted</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://www.instagram.com/jonglasss/?hl=en">Follow Us On INSTAGRAM <i class="fa fa-instagram"></i></a></li>
    </ul>
    
    </div>
    </div>
      
</nav>

    
</header>

<body>    


    <h1>Wanted Listing:</h1>

        <img src="<%= @wanted.image_url %>" height="400px" width="200px">

        <%= @wanted.title %>

        <%= @wanted.initial_offer %> <br>


<br>

<br>
<br>

        <% if current_user %>
        <a href="/wanted/<%= @wanted.id %>/edit">EDIT</a>

        <a href="/wanted/<%= @wanted.id %>" data-method="delete" rel="nofollow">DELETE</a>
        <% end %>


<a href="/wanted">Back to wanted listings</a>

  <script src="js/bootstrap.min.js"></script>

</body>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</html>

