<!DOCTYPE HTML>
<html>

<head>
    <title>Sk8er Tr8der</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      
</head>
    
<header>

    <nav class="navbar navbar-light">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><b>Sk8er Tr8der</b></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#dropdown">
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
            </button>
                 
</div>

        
<div id="dropdown" class="collapse navbar-collapse">
            
    <ul class="nav navbar-nav">
        <li><a href="main">Home</a></li>
        <li><a href="articles">Blog</a></li>
        <li><a href="for_sale">For Sale</a></li>
        <li><a href="wanted">Wanted</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://www.instagram.com/jonglasss/?hl=en">Follow Us On INSTAGRAM <i class="fa fa-instagram"></i></a></li>
    </ul>
    
    </div>
    </div>
      
</nav>

    
</header>

<body>

<div id="wanted-title" class="container">
<h1>WANTED:</h1>

<br>
<br>

<% if current_user %>
<button><a href="wanted/new">Create a new wanted Listing</a></button>
<% end %>

</div>
    
<br>
<br>

<div class="container">
    <% @wanteds.each do |w| %>

    <div id="wanted" class="container">
        <b><%= w.title %></b>   |   
        Initial Offer : <b>$<%= w.initial_offer %></b>   | 
        Posted By: <b> <%= w.user.user_name %>  |

        <a href="wanted/<%= w.id %>" %> View </a>

    </div>

</div>

    <% end %>
    
</body>

  <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    
</html>
